:css
  .inline-block{ display: inline-block }

%fieldset
  %legend= l(:label_filter_plural)

  %form{:method => :get}
    - [:name, :boss_name, :department_name].each do |item|
      = hidden_field_tag item, params[item]

    .inline-block
      %label{:for=>'company_name'}= l(:field_company_name) + ":"
      %select{:id => 'company_name', :name => 'company_name', :class => "small", :onchange => "this.form.submit(); return false;"}
        %option
        - company_name_for_select.each do |item|
          - if params[:company_name] == item
            %option{:value => item, :selected => "selected"}= item
          - else
            %option{:value => item}= item

    .inline-block
      %label{:for=>'position_type_name'}= l(:field_position_type_name) + ":"
      %select{:id => 'position_type_name', :name => 'position_type_name', :class => "small", :onchange => "this.form.submit(); return false;"}
        %option
        - position_type_name_for_select.each do |item|
          - if params[:position_type_name] == item
            %option{:value => item, :selected => "selected"}= item
          - else
            %option{:value => item}= item

    .inline-block
      %label{:for=>'employment_type_name'}= l(:field_employment_type_name) + ":"
      %select{:id => 'employment_type_name', :name => 'employment_type_name', :class => "small", :onchange => "this.form.submit(); return false;"}
        %option
        - employment_type_name_for_select.each do |item|
          - if params[:employment_type_name] == item
            %option{:value => item, :selected => "selected"}= item
          - else
            %option{:value => item}= item

    .inline-block
      %label{:for=>'require_education_name'}= l(:field_require_education_name) + ":"
      %select{:id => 'require_education_name', :name => 'require_education_name', :class => "small", :onchange => "this.form.submit(); return false;"}
        %option
        - require_education_name_for_select.each do |item|
          - if params[:require_education_name] == item
            %option{:value => item, :selected => "selected"}= item
          - else
            %option{:value => item}= item

    .inline-block
      %label{:for=>'status_id'}= l(:field_status) + ":"
      %select{:id => 'status_id', :name => 'status_id', :class => "small", :onchange => "this.form.submit(); return false;"}
        %option
        = options_from_collection_for_select(status_id_for_select, :id, :name, params[:status_id] && params[:status_id].to_i)

    .inline-block
      %label{:for=>'priority_id'}= l(:field_priority) + ":"
      %select{:id => 'priority_id', :name => 'priority_id', :class => "small", :onchange => "this.form.submit(); return false;"}
        %option
        = options_from_collection_for_select(priority_id_for_select, :id, :name, params[:priority_id] && params[:priority_id].to_i)

    .inline-block
      %label{:for=>'author_id'}= l(:field_author) + ":"
      %select{:id => 'author_id', :name => 'author_id', :class => "small", :onchange => "this.form.submit(); return false;"}
        %option
        = options_from_collection_for_select(author_id_for_select, :id, :name, params[:author_id] && params[:author_id].to_i)

    - %w{created_on}.each do |type_date|
      %br
      %label=l(:"label_period") + ":"
      -# - %w{all}.each do |key|
      -#   - if params[:"time_period_#{type_date}"] == key
      -#     %strong
      -#       = l(:"label_#{key}")
      -#   - else
      -#     = link_to l(:"label_#{key}"), params.merge( :"time_period_#{type_date}" => key, :"#{type_date}" => "" )

      -# = "/"
      %input{:id => type_date, :name => type_date, :size => 10, :onchange => "this.form.submit(); return false;", :value => params[type_date]}
      = calendar_for(type_date)

      - StaffRequest.time_periods.each do |key|
        = "/"
        - if params[:"time_period_#{type_date}"] == key
          %strong
            = l(:"label_period_#{key}")
        - else
          = link_to l(:"label_period_#{key}"), params.merge( :"time_period_#{type_date}" => key, :"#{type_date}" => "" )
    %br

  %form{:method => :get}
    - [:company_name, :position_type_name, :employment_type_name, :require_education_name, :status_id, :priority_id, :author_id, :time_period_created_on].each do |item|
      = hidden_field_tag item, params[item]

    %label{:for=>'name'}= l(:label_staff_request_name) + ":"
    = text_field_tag 'name', params[:name], :size => 30

    %label{:for=>'boss_name'}= l(:field_boss_name) + ":"
    = text_field_tag 'boss_name', params[:boss_name], :size => 30

    %label{:for=>'department_name'}= l(:field_department_name) + ":"
    = text_field_tag 'department_name', params[:department_name], :size => 30

    = submit_tag l(:button_apply), :class => "small", :name => nil
    = link_to l(:button_clear), {:action => :index}, :class => 'icon icon-reload'
