= error_messages_for @object

.box.tabular
  .splitcontentleft
    %p= f.text_field :name, :required => true, :size => 40, :label => t(:label_staff_request_name)
    %p= f.select :company_name, company_name_for_select, :required => true, :prompt => t(:prompt_please_select)
    %p= f.text_field :department_name, :required => true, :size => 40
    %p= f.text_field :boss_name, :required => true, :size => 40
    %p= f.text_field :position_count, :required => true, :size => 5

  .splitcontentright
    %p= f.select :position_type_name, position_type_name_for_select, :required => true, :prompt => t(:prompt_please_select)
    %p= f.text_field :position_type_comment, :size => 20
    %p= f.select :employment_type_name, employment_type_name_for_select, :required => true, :prompt => t(:prompt_please_select)
    %p= f.select :require_education_name, require_education_name_for_select, :required => true, :prompt => t(:prompt_please_select)
    %p= f.select :priority_id, priority_id_for_select.map{ |item| [item.name, item.id] }, :required => true, :prompt => t(:prompt_please_select)

  %div{:style=>"clear:both"}

  %p= f.text_area :require_program_skills,      :cols => 60, :rows => 15, :class => 'wiki-edit', :required => true
  %p= f.text_area :require_experience,          :cols => 60, :rows => 15, :class => 'wiki-edit', :required => true
  %p= f.text_area :functional_responsibilities, :cols => 60, :rows => 15, :class => 'wiki-edit', :required => true

= wikitoolbar_for 'staff_request_require_program_skills'
= wikitoolbar_for 'staff_request_require_experience'
= wikitoolbar_for 'staff_request_functional_responsibilities'
